* {
  padding: none;
  margin: none;
  box-sizing: border-box;
}
:root {
  --DarkBlue: hsl(233, 26%, 24%);
  --LimeGreen: hsl(136, 65%, 51%);
  --BrightCyan: hsl(192, 70%, 51%);
  --GrayishBlue: hsl(233, 8%, 62%);
  --LightGrayishBlue: hsl(220, 16%, 96%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
body {
  background-color: var(--VeryLightGray);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.navbar {
  height: 80px;
  background-color: var(--White) !important;
}
.btn,
.btn:is(:focus, :hover) {
  color: var(--White);

  box-shadow: none;
  background: linear-gradient(55deg, var(--LimeGreen), var(--BrightCyan));
}
.navbar-toggler:focus {
  box-shadow: none;
}
