* {
  padding: none;
  margin: none;
  box-sizing: border-box;
}
:root {
  --DarkBlue: hsl(233, 26%, 24%);
  --LimeGreen: hsl(136, 65%, 51%);
  --BrightCyan: hsl(192, 70%, 51%);
  --GrayishBlue: hsl(233, 8%, 62%);
  --LightGrayishBlue: hsl(220, 16%, 96%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
header {
  z-index: 1;
}
body {
  background-color: var(--LightGrayishBlue);
  font-family: "Public Sans", sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;

  bottom: 5%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.navbar {
  height: 80px;
  background-color: var(--White) !important;
}
.btn,
.btn:is(:focus, :hover) {
  color: var(--White);

  box-shadow: none;
  background: linear-gradient(55deg, var(--LimeGreen), var(--BrightCyan));
}
.navbar-toggler:focus {
  box-shadow: none;
}
.hero__slide {
  background-image: url("./images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: 150%;

  background-color: var(--VeryLightGray);
}
.hero__slide:is(.container, .row, .content) {
  height: inherit;
}
.card {
  background-color: transparent;
  border: none;
}
.service .card-img-top {
  width: 80px;
  height: 80px;
}
.article .card-img-top {
  height: 200px;
}

.article .card-body {
  background: var(--White);
}
.service,
.article,
.hero__slide {
  min-height: 650px;
}
.article {
  background-color: var(--VeryLightGray);
}
.img_xs {
  width: 100%;
  height: 400px;
}
.hero__imgxs {
  width: 100%;

  position: absolute;
  top: -8%;
  left: 0;
}
footer {
  min-height: 300px;
  background-color: var(--DarkBlue);
}
.mb-10 {
  margin-bottom: 5rem;
}
.sub--text {
  color: var(--GrayishBlue);
}
a:hover {
  color: var(--LimeGreen) !important;
}
.social--icon img:hover {
  cursor: pointer;
  color: var(--LimeGreen);
  filter: hue-rotate(120deg);
}
h1 {
  font-size: 3rem;
  font-weight: 400;
}
h1,
h5,
.article h5 a {
  color: var(--DarkBlue) !important;
}

@media screen and (max-width: 992px) {
  .hero__slide {
    background-image: url("./images/bg-intro-mobile.svg");
    background-position-y: top;
    background-position-x: top;
  }
  .attribution {
    position: initial;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
  }
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    transform: translateY(43px);
    border-radius: 11px;
    padding: 18px;
  }
  .btn-close {
    display: none;
  }
  button[aria-expanded="true"] .btn-close {
    display: block;
  }
  button[aria-expanded="true"] .navbar-toggler-icon {
    display: none;
  }
  .btn__request {
    display: none;
  }
}
